/.IJseManifest.java._trace
/.IJeeManifest.java._trace
/.IManifest.java._trace
/.IJeeManifest.xtendbin
/.IJseManifest.xtendbin
/.IManifest.xtendbin
/IJeeManifest.java
/IJseManifest.java
/IManifest.java
