/.GeneratedFile.java._trace
/.CopiedFile.java._trace
/.ICompilationUnit.java._trace
/.CopiedFile.xtendbin
/.GeneratedFile.xtendbin
/.ICompilationUnit.xtendbin
/CopiedFile.java
/GeneratedFile.java
/ICompilationUnit.java
