/.PojoClasspath.java._trace
/.PojoPluginXml.java._trace
/.PojoBuildProperties.java._trace
/.PojoManifest.java._trace
/.PojoSystemClass.java._trace
/.PojoSystemMain.java._trace
/.PojoBuildProperties.xtendbin
/.PojoClasspath.xtendbin
/.PojoManifest.xtendbin
/.PojoPluginXml.xtendbin
/.PojoSystemClass.xtendbin
/.PojoSystemMain.xtendbin
/PojoBuildProperties.java
/PojoClasspath.java
/PojoManifest.java
/PojoPluginXml.java
/PojoSystemClass.java
/PojoSystemMain.java
