<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CorrespondenceModel -->
      <package
            uri="https://www.iobserve-devops.net/model/correspondence"
            class="org.iobserve.model.correspondence.CorrespondencePackage"
            genModel="src/main/model/CorrespondenceModel.genmodel"/>
   </extension>

</plugin>
