/.PojoUsageClosedScenarioThread.java._trace
/.PojoUsageScenario.java._trace
/.PojoUsageClosedScenarioThread.xtendbin
/.PojoUsageScenario.xtendbin
/PojoUsageClosedScenarioThread.java
/PojoUsageScenario.java
