**/bin/**
**/build/**
*.checkstyle
*.class
*.classpath
**/.classpath
*.dat
.gradle/**
**/.gradle/**
!InstallationGuide_iObserve.txt
*.jar
**/*.jar
**/.launch/**
*.log
*.map
mvn-repo/**
org.iobserve.analysis/pcm/
!org.iobserve.analysis/res/doc/
org.iobserve.analysis/res/working_dir/
output/
*.prefs
*.project
**/.project
**/.settings/**
settings.xml
**/target/**
target/**
teetime.log
**/*._trace
**/**.xtendbin
*.zip
/build/
repos/
*.log
rac.creator/mapped.txt
rac.creator/mapping.rac
rac.creator/unmapped.txt
test.setup/kieker*tgz
*.csv
*.xlsx
!/analysis/src/main/java/log4j2.properties

# For building peropteryx.rcp with gradle
!gradle.properties
!peropteryx.rcp/build.properties


# Created by https://www.gitignore.io/api/eclipse,linux,windows

### Eclipse ###

.metadata
**/bin/**
**/build/**
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/


### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*


### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/eclipse,linux,windows
/.gradle/
