*.class
org.iobserve.analysis/bin
org.iobserve.analysis/target
org.iobserve.common/bin
org.iobserve.common/target
org.iobserve.monitoring/bin
org.iobserve.monitoring/target
org.iobserve.releng/bin
org.iobserve.releng/target
*.csv
*.map
*.dat
*.log
*.txt
*.jar
