**/bin/**
**/build/**
*.checkstyle
*.class
*.classpath
**/.classpath
*.csv
*.dat
.gradle/**
**/.gradle/**
!InstallationGuide_iObserve.txt
*.jar
**/*.jar
**/.launch/**
*.log
*.map
mvn-repo/**
org.iobserve.analysis/pcm/
!org.iobserve.analysis/res/doc/
org.iobserve.analysis/res/working_dir/
output/
*.prefs
*.project
**/.project
**/.settings/**
settings.xml
**/target/**
target/**
teetime.log
**/*._trace
*.txt
**/**.xtendbin
*.zip
/build/
