/.XInfrastructureInterface.java._trace
/.XBasicComponent.java._trace
/.XCollectionDataType.java._trace
/.XCompositeComponent.java._trace
/.XCompositeDataType.java._trace
/.XEventGroup.java._trace
/.XOperationInterface.java._trace
/.XRepository.java._trace
/.XBasicComponent.xtendbin
/.XCollectionDataType.xtendbin
/.XCompositeComponent.xtendbin
/.XCompositeDataType.xtendbin
/.XEventGroup.xtendbin
/.XInfrastructureInterface.xtendbin
/.XOperationInterface.xtendbin
/.XRepository.xtendbin
/XBasicComponent.java
/XCollectionDataType.java
/XCompositeComponent.java
/XCompositeDataType.java
/XEventGroup.java
/XInfrastructureInterface.java
/XOperationInterface.java
/XRepository.java
