/.IJClass.java._trace
/.IJField.java._trace
/.IJInterface.java._trace
/.IJMethod.java._trace
/.IJeeClass.java._trace
/.IJeeInterface.java._trace
/.IJAnnotation.java._trace
/.IJCompilationUnit.java._trace
/.IJAnnotation.xtendbin
/.IJClass.xtendbin
/.IJCompilationUnit.xtendbin
/.IJField.xtendbin
/.IJInterface.xtendbin
/.IJMethod.xtendbin
/.IJeeClass.xtendbin
/.IJeeInterface.xtendbin
/IJAnnotation.java
/IJClass.java
/IJCompilationUnit.java
/IJField.java
/IJInterface.java
/IJMethod.java
/IJeeClass.java
/IJeeInterface.java
