/.ResourceContainerAdapter.java._trace
/.ResourceEnvironmentAdapter.java._trace
/.ResourceContainerAdapter.xtendbin
/.ResourceEnvironmentAdapter.xtendbin
/ResourceContainerAdapter.java
/ResourceEnvironmentAdapter.java
