<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated systemadaptation -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.iobserve.planning.systemadaptation.presentation.systemadaptationModelWizardID"
            name="%_UI_systemadaptationModelWizard_label"
            class="org.iobserve.planning.systemadaptation.presentation.systemadaptationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/systemadaptationModelFile.gif">
         <description>%_UI_systemadaptationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated systemadaptation -->
      <editor
            id="org.iobserve.planning.systemadaptation.presentation.systemadaptationEditorID"
            name="%_UI_systemadaptationEditor_label"
            icon="icons/full/obj16/systemadaptationModelFile.gif"
            extensions="systemadaptation"
            class="org.iobserve.planning.systemadaptation.presentation.systemadaptationEditor"
            contributorClass="org.iobserve.planning.systemadaptation.presentation.systemadaptationActionBarContributor">
      </editor>
   </extension>

</plugin>
