/.JeeClasspath.java._trace
/.JeeComponentFile.java._trace
/.JeeDeploymentDescriptor.java._trace
/.JeeGlassfishEjbDescriptor.java._trace
/.JeeSettings.java._trace
/.TestPlan.java._trace
/.Classpath.java._trace
/.JeeEjbDescriptor.java._trace
/.JeeFacetCore.java._trace
/.PluginXml.java._trace
/.Classpath.xtendbin
/.JeeClasspath.xtendbin
/.JeeComponentFile.xtendbin
/.JeeDeploymentDescriptor.xtendbin
/.JeeEjbDescriptor.xtendbin
/.JeeFacetCore.xtendbin
/.JeeGlassfishEjbDescriptor.xtendbin
/.JeeSettings.xtendbin
/.PluginXml.xtendbin
/.TestPlan.xtendbin
/Classpath.java
/JeeClasspath.java
/JeeComponentFile.java
/JeeDeploymentDescriptor.java
/JeeEjbDescriptor.java
/JeeFacetCore.java
/JeeGlassfishEjbDescriptor.java
/JeeSettings.java
/PluginXml.java
/TestPlan.java
