/.PojoBuildPropertiesFile.java._trace
/.PojoComposedStructureClass.java._trace
/.PojoClass.java._trace
/.PojoClasspathFile.java._trace
/.PojoInterface.java._trace
/.PojoMFFile.java._trace
/.PojoPluginXmlFile.java._trace
/.PojoBuildPropertiesFile.xtendbin
/.PojoClass.xtendbin
/.PojoClasspathFile.xtendbin
/.PojoComposedStructureClass.xtendbin
/.PojoInterface.xtendbin
/.PojoMFFile.xtendbin
/.PojoPluginXmlFile.xtendbin
/PojoBuildPropertiesFile.java
/PojoClass.java
/PojoClasspathFile.java
/PojoComposedStructureClass.java
/PojoInterface.java
/PojoMFFile.java
/PojoPluginXmlFile.java
