/.JseOperationInterface.java._trace
/.JseBasicComponent.java._trace
/.JseCompositeComponent.java._trace
/.JseInfrastructureInterface.java._trace
/.JseBasicComponent.xtendbin
/.JseCompositeComponent.xtendbin
/.JseInfrastructureInterface.xtendbin
/.JseOperationInterface.xtendbin
/JseBasicComponent.java
/JseCompositeComponent.java
/JseInfrastructureInterface.java
/JseOperationInterface.java
