/.PojoBasicComponentClass.java._trace
/.PojoBasicComponentContextClass.java._trace
/.PojoBasicComponentPortClass.java._trace
/.PojoComposedStructureContextInterface.java._trace
/.PojoCompositeComponentClass.java._trace
/.PojoInfrastructureInterface.java._trace
/.PojoBasicComponentContextInterface.java._trace
/.PojoComponentClassInterface.java._trace
/.PojoComposedStructureContextClass.java._trace
/.PojoComposedStructureInterface.java._trace
/.PojoComposedStructurePortClass.java._trace
/.PojoOperationInterface.java._trace
/.PojoBasicComponentClass.xtendbin
/.PojoBasicComponentContextClass.xtendbin
/.PojoBasicComponentContextInterface.xtendbin
/.PojoBasicComponentPortClass.xtendbin
/.PojoComponentClassInterface.xtendbin
/.PojoComposedStructureContextClass.xtendbin
/.PojoComposedStructureContextInterface.xtendbin
/.PojoComposedStructureInterface.xtendbin
/.PojoComposedStructurePortClass.xtendbin
/.PojoCompositeComponentClass.xtendbin
/.PojoInfrastructureInterface.xtendbin
/.PojoOperationInterface.xtendbin
/PojoBasicComponentClass.java
/PojoBasicComponentContextClass.java
/PojoBasicComponentContextInterface.java
/PojoBasicComponentPortClass.java
/PojoComponentClassInterface.java
/PojoComposedStructureContextClass.java
/PojoComposedStructureContextInterface.java
/PojoComposedStructureInterface.java
/PojoComposedStructurePortClass.java
/PojoCompositeComponentClass.java
/PojoInfrastructureInterface.java
/PojoOperationInterface.java
