/.PojoPluginXml.java._trace
/.PojoSystemClass.java._trace
/.PojoBuildProperties.java._trace
/.PojoManifest.java._trace
/.PojoBuildProperties.xtendbin
/.PojoManifest.xtendbin
/.PojoPluginXml.xtendbin
/.PojoSystemClass.xtendbin
/PojoBuildProperties.java
/PojoManifest.java
/PojoPluginXml.java
/PojoSystemClass.java
