/.JeeOperationInterface.java._trace
/.JeeBasicComponent.java._trace
/.JeeCompositeComponent.java._trace
/.JeeBasicComponent.xtendbin
/.JeeCompositeComponent.xtendbin
/.JeeOperationInterface.xtendbin
/JeeBasicComponent.java
/JeeCompositeComponent.java
/JeeOperationInterface.java
