/.InterfaceRequiringEntityAdapter.java._trace
/.OperationInterfaceAdapter.java._trace
/.SignatureAdapter.java._trace
/.BasicComponentAdapter.java._trace
/.InfrastructureProvidedRoleAdapter.java._trace
/.InterfaceProvidingRequiringEntityAdapter.java._trace
/.OperationProvidedRoleAdapter.java._trace
/.OperationRequiredRoleAdapter.java._trace
/.BasicComponentAdapter.xtendbin
/.InfrastructureProvidedRoleAdapter.xtendbin
/.InterfaceProvidingRequiringEntityAdapter.xtendbin
/.InterfaceRequiringEntityAdapter.xtendbin
/.OperationInterfaceAdapter.xtendbin
/.OperationProvidedRoleAdapter.xtendbin
/.OperationRequiredRoleAdapter.xtendbin
/.SignatureAdapter.xtendbin
/BasicComponentAdapter.java
/InfrastructureProvidedRoleAdapter.java
/InterfaceProvidingRequiringEntityAdapter.java
/InterfaceRequiringEntityAdapter.java
/OperationInterfaceAdapter.java
/OperationProvidedRoleAdapter.java
/OperationRequiredRoleAdapter.java
/SignatureAdapter.java
