/.JClass.java._trace
/.JInterface.java._trace
/.JAnnotation.java._trace
/.JCompilationUnit.java._trace
/.JField.java._trace
/.JMethod.java._trace
/.JeeClass.java._trace
/.JeeInterface.java._trace
/.JAnnotation.xtendbin
/.JClass.xtendbin
/.JCompilationUnit.xtendbin
/.JField.xtendbin
/.JInterface.xtendbin
/.JMethod.xtendbin
/.JeeClass.xtendbin
/.JeeInterface.xtendbin
/JAnnotation.java
/JClass.java
/JCompilationUnit.java
/JField.java
/JInterface.java
/JMethod.java
/JeeClass.java
/JeeInterface.java
