/.PojoComponentClassInterface.java._trace
/.PojoComposedStructurePortClass.java._trace
/.PojoCompositeComponentClass.java._trace
/.PojoCompositeDataTypeClass.java._trace
/.PojoOperationInterface.java._trace
/.PojoBasicComponentClass.java._trace
/.PojoBasicComponentPortClass.java._trace
/.PojoCollectionDataTypeClass.java._trace
/.PojoInfrastructureInterface.java._trace
/.PojoBasicComponentClass.xtendbin
/.PojoBasicComponentPortClass.xtendbin
/.PojoCollectionDataTypeClass.xtendbin
/.PojoComponentClassInterface.xtendbin
/.PojoComposedStructurePortClass.xtendbin
/.PojoCompositeComponentClass.xtendbin
/.PojoCompositeDataTypeClass.xtendbin
/.PojoInfrastructureInterface.xtendbin
/.PojoOperationInterface.xtendbin
/PojoBasicComponentClass.java
/PojoBasicComponentPortClass.java
/PojoCollectionDataTypeClass.java
/PojoComponentClassInterface.java
/PojoComposedStructurePortClass.java
/PojoCompositeComponentClass.java
/PojoCompositeDataTypeClass.java
/PojoInfrastructureInterface.java
/PojoOperationInterface.java
