/.IJeeDescriptor.java._trace
/.IJeeEjbDescriptor.java._trace
/.IJeeGlassfishEjbDescriptor.java._trace
/.IClasspath.java._trace
/.IJeeClasspath.java._trace
/.IJeeComponentFile.java._trace
/.IJeeDeploymentDescriptor.java._trace
/.IJeeFacetCoreXml.java._trace
/.IJeeSettings.java._trace
/.IPluginXml.java._trace
/.ITestPlan.java._trace
/.IClasspath.xtendbin
/.IJeeClasspath.xtendbin
/.IJeeComponentFile.xtendbin
/.IJeeDeploymentDescriptor.xtendbin
/.IJeeDescriptor.xtendbin
/.IJeeEjbDescriptor.xtendbin
/.IJeeFacetCoreXml.xtendbin
/.IJeeGlassfishEjbDescriptor.xtendbin
/.IJeeSettings.xtendbin
/.IPluginXml.xtendbin
/.ITestPlan.xtendbin
/IClasspath.java
/IJeeClasspath.java
/IJeeComponentFile.java
/IJeeDeploymentDescriptor.java
/IJeeDescriptor.java
/IJeeEjbDescriptor.java
/IJeeFacetCoreXml.java
/IJeeGlassfishEjbDescriptor.java
/IJeeSettings.java
/IPluginXml.java
/ITestPlan.java
