<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated CloudProfile -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.iobserve.planning.cloudprofile.presentation.cloudprofileModelWizardID"
            name="%_UI_cloudprofileModelWizard_label"
            class="org.iobserve.planning.cloudprofile.presentation.cloudprofileModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/cloudprofileModelFile.gif">
         <description>%_UI_cloudprofileModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated CloudProfile -->
      <editor
            id="org.iobserve.planning.cloudprofile.presentation.cloudprofileEditorID"
            name="%_UI_cloudprofileEditor_label"
            icon="icons/full/obj16/cloudprofileModelFile.gif"
            extensions="cloudprofile"
            class="org.iobserve.planning.cloudprofile.presentation.cloudprofileEditor"
            contributorClass="org.iobserve.planning.cloudprofile.presentation.cloudprofileActionBarContributor">
      </editor>
   </extension>

</plugin>
