kieker.monitoring.name=JIRA
kieker.monitoring.hostname=
kieker.monitoring.metadata=true

iobserve.analysis.source=org.iobserve.service.source.FileSourceCompositeStage
org.iobserve.service.source.FileSourceCompositeStage.sourceDirectories=/Users/SL/git/single-jpetstore-clustering-experiment/fixed/FishLover/kieker-20180328-213823-1404917594578390-UTC--

iobserve.analysis.traces=true
iobserve.analysis.dataFlow=false

iobserve.analysis.model.pcm.directory.db=/Users/SL/git/single-jpetstore-clustering-experiment/db
iobserve.analysis.model.pcm.directory.init=/Users/SL/git/single-jpetstore-clustering-experiment/pcm

# trace preparation (note they should be fixed)
iobserve.analysis.behavior.IEntryCallTraceMatcher=org.iobserve.analysis.systems.jira.JIRACallTraceMatcher
iobserve.analysis.behavior.IEntryCallAcceptanceMatcher=org.iobserve.analysis.systems.jira.JIRATraceAcceptanceMatcher
iobserve.analysis.behavior.ITraceSignatureCleanupRewriter=org.iobserve.analysis.systems.jira.JIRASignatureCleanupRewriter
iobserve.analysis.behavior.IModelGenerationFilterFactory=org.iobserve.analysis.systems.jpetstore.JPetStoreEntryCallRulesFactory

iobserve.analysis.behavior.triggerInterval=1000

iobserve.analysis.behavior.sink.baseUrl=/Users/SL/git/single-jpetstore-clustering-experiment/results
iobserve.analysis.container.management.sink.visualizationUrl=http://localhost:8080


# Example Hierarchical
iobserve.analysis.behavior.filter=org.iobserve.analysis.behavior.clustering.hierarchical.HierarchicalBehaviorCompositeStage
org.iobserve.analysis.behavior.clustering.hierarchical.HierarchicalBehaviorCompositeStage.prefix=jira
org.iobserve.analysis.behavior.clustering.hierarchical.HierarchicalBehaviorCompositeStage.outputUrl=/Users/SL/git/single-jpetstore-clustering-experiment/results
org.iobserve.analysis.behavior.clustering.hierarchical.HierarchicalBehaviorCompositeStage.distanceMetric=euclidean
org.iobserve.analysis.behavior.clustering.hierarchical.HierarchicalBehaviorCompositeStage.clusterSelectionMethod=avgsil
org.iobserve.analysis.behavior.clustering.hierarchical.HierarchicalBehaviorCompositeStage.linkage=average
org.iobserve.analysis.behavior.clustering.hierarchical.HierarchicalBehaviorCompositeStage.representativeStrategy=org.iobserve.analysis.systems.jira.JIRARepresentativeStrategy
# End Example


# Example XMeans
#iobserve.analysis.behavior.filter=org.iobserve.analysis.behavior.clustering.xmeans.XMeansBehaviorCompositeStage
#org.iobserve.analysis.behavior.clustering.xmeans.XMeansBehaviorCompositeStage.expectedUserGroups=1
#org.iobserve.analysis.behavior.clustering.xmeans.XMeansBehaviorCompositeStage.variance=1
#org.iobserve.analysis.behavior.clustering.xmeans.XMeansBehaviorCompositeStage.prefix=jira
#org.iobserve.analysis.behavior.clustering.xmeans.XMeansBehaviorCompositeStage.outputUrl=/Users/SL/git/single-jpetstore-clustering-experiment/results
#org.iobserve.analysis.behavior.clustering.xmeans.XMeansBehaviorCompositeStage.representativeStrategy=org.iobserve.analysis.systems.jira.JIRARepresentativeStrategy
# End Example


# Example SIMILARITY
#iobserve.analysis.behavior.filter=org.iobserve.analysis.behavior.clustering.similaritymatching.SimilarityBehaviorCompositeStage
#iobserve.analysis.behavior.IClassificationStage=org.iobserve.analysis.behavior.clustering.similaritymatching.SimilarityMatchingStage
#iobserve.analysis.behavior.sm.IParameterMetric=org.iobserve.analysis.systems.jira.JIRAParameterMetric
#iobserve.analysis.behavior.sm.IStructureMetricStrategy=org.iobserve.analysis.behavior.clustering.similaritymatching.GeneralStructureMetric
#iobserve.analysis.behavior.sm.IModelGenerationStrategy=org.iobserve.analysis.behavior.clustering.similaritymatching.UnionModelGenerationStrategy
#iobserve.analysis.behavior.sm.parameters.radius=2
#iobserve.analysis.behavior.sm.structure.radius=2
# End Example