kieker.monitoring.name=JIRA
kieker.monitoring.hostname=
kieker.monitoring.metadata=true

iobserve.analysis.source=org.iobserve.service.source.FileSourceCompositeStage
org.iobserve.service.source.FileSourceCompositeStage.sourceDirectories=/Users/student/git/single-jpetstore-clustering-experiment/fixed/FishLover/kieker-20180328-213823-1404917594578390-UTC--

iobserve.analysis.traces=true
iobserve.analysis.dataFlow=true

iobserve.analysis.model.pcm.directory.db=/Users/student/git/single-jpetstore-clustering-experiment/db
iobserve.analysis.model.pcm.directory.init=/Users/student/git/single-jpetstore-clustering-experiment/pcm

# trace preparation (note they should be fixed)
iobserve.analysis.behavior.IEntryCallTraceMatcher=org.iobserve.analysis.systems.jira.JIRACallTraceMatcher
iobserve.analysis.behavior.IEntryCallAcceptanceMatcher=org.iobserve.analysis.systems.jira.JIRATraceAcceptanceMatcher
iobserve.analysis.behavior.ITraceSignatureCleanupRewriter=org.iobserve.analysis.systems.jira.JIRASignatureCleanupRewriter
iobserve.analysis.behavior.IModelGenerationFilterFactory=org.iobserve.analysis.systems.jpetstore.JPetStoreEntryCallRulesFactory

iobserve.analysis.behavior.triggerInterval=1000

iobserve.analysis.behavior.sink.baseUrl=/Users/student/git/single-jpetstore-clustering-experiment/results
iobserve.analysis.container.management.sink.visualizationUrl=http://localhost:8080

# Example Xmeans
iobserve.analysis.behaviour.filter=org.iobserve.analysis.clustering.xmeans.XMeansBehaviorCompositeStage
org.iobserve.analysis.behavior.clustering.xmeans.XMeansBehaviorCompositeStage.expectedUserGroups=1
org.iobserve.analysis.behavior.clustering.xmeans.XMeansBehaviorCompositeStage.variance=1
org.iobserve.analysis.behavior.clustering.xmeans.XMeansBehaviorCompositeStage.prefix=jira
org.iobserve.analysis.behavior.clustering.xmeans.XMeansBehaviorCompositeStage.outputUrl=/Users/student/git/single-jpetstore-clustering-experiment/results
org.iobserve.analysis.behavior.clustering.xmeans.XMeansBehaviorCompositeStage.representativeStrategy=org.iobserve.analysis.systems.jira.JIRARepresentativeStrategy
# End Example