<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CorrespondenceModel -->
      <package
            uri="https://www.iobserve-devops.net/model/0.0.4/correspondence"
            class="org.iobserve.analysis.model.correspondence.CorrespondencePackage"
            genModel="src/main/java/org/iobserve/analysis/model/correspondence/CorrespondenceModel.genmodel"/>
   </extension>

</plugin>
