<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated changegroup -->
      <package
            uri="http://iobserve.org/ChangeGroup"
            class="org.iobserve.planning.changegroup.ChangegroupPackage"
            genModel="model/systemadaptation.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated changegroup -->
      <parser
            type="changegroup"
            class="org.iobserve.planning.changegroup.util.ChangegroupResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated systemadaptation -->
      <package
            uri="http://iobserve.org/SystemAdaptation"
            class="org.iobserve.planning.systemadaptation.SystemadaptationPackage"
            genModel="model/systemadaptation.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated systemadaptation -->
      <parser
            type="systemadaptation"
            class="org.iobserve.planning.systemadaptation.util.SystemadaptationResourceFactoryImpl"/>
   </extension>

</plugin>
