/.AllocationAdapter.java._trace
/.AssemblyContextAdapter.java._trace
/.AllocationContextAdapter.java._trace
/.AllocationAdapter.xtendbin
/.AllocationContextAdapter.xtendbin
/.AssemblyContextAdapter.xtendbin
/AllocationAdapter.java
/AllocationContextAdapter.java
/AssemblyContextAdapter.java
